/* Proyecto Bueno */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
    font-family: 'Montserrat' ;
}
header {
    text-align: center;
    margin: 5px;
    margin-top: 25px;
}
nav ul {
margin-left: 6%;
}
nav ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 2%;
}
nav ul li a {
    text-decoration: none;
    color: #7a7a7a;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Montserrat', ;
}