/* Proyecto Bueno */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
    font-family: 'Montserrat' ;
}
/* aqui inicia el header*/
header {
    text-align: center;
    margin: 5px;
    margin-top: 25px;
}
a:hover {
    color: #b0c364;
}
footer {
    font-size: 8px;
    margin-left: 140px;
}
nav ul {
margin-left: 6%;
}
nav ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 2%;
    margin-bottom: 200px;
}
nav ul li a {
    text-decoration: none;
    color: #7a7a7a;
    font-weight: bold;
    font-size: 13px;
    
}
/* head & nav */
/* Carousel */

.carcardborder {
    display: flex;
    background-color: white;
    width: 20%;
    height: 45%;
    padding: 15px;
    margin-top: -405px;
    margin-bottom: 100%;
    margin-left: 500px;
    position: absolute;
}
div.carcardborder div.carcard {
    text-align: center;
    align-content: center;
    border: 2.5px solid #b0c364;
    border-bottom: none;
    padding: 10px;
    padding-top: 80px;
    width: 90%;
    height: 60%;
}
.slick-prev {
    color: white;
    background-color: #b0c364;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 59px;
    display: flex;
    margin-bottom: -220px;
    position: relative;
    z-index: 1;
}
.slick-next {
    color: white;
    background-color: #b0c364;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 87.7%;
    margin-top: -225px;
    margin-bottom: 220px;
    display: flex;  
    position: relative;
    z-index: 1;
}
div.carrusel div img {
    width: 370px;
    height: 410px;
    position: relative;
}
div.carcard p{
     font-size: 10px;
     font-weight: bold;
     color: #b0c364;
}
div.carcard h3{
     font-size: 20px;
}
div.carcard p.uno{
    font-size: 10px;
    color: #7a7a7a;
}

/* fin Carousel */

/* tres recetas */ 
#recetas{
    display: flex;
    justify-content: center;

}
#content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 82%;
    
}

.Tarjeta {
    height: 130px;
    width: 280px;
    display: flex;
    position: relative;
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
    


.Texto{
   text-align: center;
   border: 2px solid #b0c364;
   width: 80%;
   padding: 10px;
}

div.Texto p{
    font-size: 10px;
}

div.Texto h2{
    font-size: 20px;
}


#Hamburguesas img{
    width: 340px;
    height: 340px;
    margin-right: 10px;
    position: absolute;
    
}

#Ensalada img{
    width: 340px;
    height: 340px;
    margin-right: 10px;
    position: absolute;
}

#Pasta img{
    width: 340px;
    height: 340px;
    position: absolute;
}

div.clear-float {
    clear: both;
}

/*terminan las 3 cards*/

/* inician las 2 cards izq-der*/


#last_two_added{
    display: flex;
    justify-content: center;
}
.last_two_added {
    width: 80%;
    box-sizing: border-box;
}
div.imagen1 {
    width: 50%;
}
div.imagen2 {
    width: 50%;
}
div.imagen1 img {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 50px;
}
div.imagen2 img {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 50px;
}
div.cerebro{
    height: auto;
    width: 100%;  
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
div.pinki{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

p.verde {
    color: #b0c364;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
}
div.pinki img {
    width: 100%;
    height: 550px;
    margin-top: 20px; 
}
div.cerebro img {
    width: 100%;
    height: 550px;
    margin-top: 20px; 
}
p.two {
    text-align: center;
    line-height: 30px;
    height: auto;
    color: #7a7a7a;
}
h1 {
    text-align: center;
}
p.azul {
    text-align: center;
    color: #7a7a7a;
}

p.azul span {
    text-align: center;
    color: #7a7a7a;
}
h2 {
    text-align: center;
}
p.one {
    text-align: center;
    line-height: 30px;
    color: #7a7a7a;
}
div.rojo {
    width: 50%;
    height: auto;
    padding: 0px;
    float: right;
    margin-left: 30px;
}
div.amarillo {
  padding: 0px;
    width: 50%;
    height: auto;
    float: left;
    margin-right: 30px;
}
.button {
    background-color: #b0c364; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 40%;
  }
  div.clear-float{
      clear: both;
  }

/* Cards lado Izquierdo*/


#mas_recetas{
    display: flex;
    justify-content: center;
    
}
div.General{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start
}

div.izquierda{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    
}


div.card-izquierda {
    background-color: #FFFFFF;
    margin: 1%;
    margin-bottom: 3%;
}
div.card-izquierda div.card-izquierda-img {
    
    width: 40%;
    float: left;
    
}
div.card-izquierda div.card-izquierda-img img {
    width: 100%;
    height: auto;
    
}
div.card-izquierda div.card-izquierda-contenido {    
    width: 60%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    
    
}

div.card-izquierda div.card-izquierda-contenido p.thebest {
    font-weight: bold;
    font-size: 14px;
    color: #b0c364;;
}

div.card-izquierda div.card-izquierda-contenido h1{
    text-align: left;
    
}


div.card-izquierda div.card-izquierda-contenido h1 span.titulo{
    color: #000000;
    font-weight: bolder;
    font-size: 24px;
    
    
}

div.card-izquierda div.card-izquierda-contenido div.publicado span{
    font-size: 14px;
    color: #7a7a7a;
    font-weight: bold;

}

div.card-izquierda div.card-izquierda-contenido div.publicado{
    font-size: 14px;
    color: #7a7a7a;
    font-weight: bold;
}

div.card-izquierda div.card-izquierda-contenido p {
    font-size: 15px;
    color: #7a7a7a;
}

/* Cards lado derecho*/

div.derecha{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    height: auto    
}


div.card-derecha {  
    background-color: #FFFFFF;
    margin-top: 5%;
    height: auto;
    
}
div.card-derecha div.card-derecha-img {
    width: 40%;
    float: left;
    height: auto;
    
}
div.card-derecha div.card-derecha-img img {
    width: 100%;
    height: auto;
}
div.card-derecha div.card-derecha-contenido {
    width: 60%;
    float: right;
    padding: 0 5%;
    box-sizing: border-box;
    
}

div.card-derecha div.card-derecha-contenido h2 {
    margin-top: 0px;
    font-weight: bolder;
    font-size: 13px;
    text-align: left;   
}

div.card-derecha div.card-derecha-contenido div.publicado span{
    font-size: 9px;
    color: #7a7a7a;
    font-weight: bold;
}

div.card-derecha div.card-derecha-contenido div.publicado{
    font-size: 10px;
    color: #7a7a7a;
    font-weight: bold;
}

div.clear-float {
    clear: both;
}

/* footer */

footer {
    font-size: 15px;
    margin-left: 70px;
    margin-top: 50px;
    
}

 /* Mobile */
 @media only screen and (max-width: 768px) {

    div.card-izquierda div.card-izquierda-img {
        width: 100%;        
    }

    div.card-izquierda div.card-izquierda-contenido {    
        width: 100%;
    }

    

    div.derecha{
        width: 100%;    
  
    }

    div.izquierda{
        width: 100%;
        
}
   
/* footer */

footer {
    
    margin-left: 30px;
    
}

/* footer */
 }
