@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
    font-family: 'Montserrat' ;

}

nav ul li{
    display: flex;
    display: inline;
    padding: 1%;
    

    
}
nav{
    margin-left: 5%;    
}
