@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    
}

#recetas{
    display: flex;
    justify-content: center;

}


#content{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    height: auto;
    width: 80%;
    
}

.Tarjeta {
    height: 140px;
    width: 260px;
    display: flex;
    position: relative;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    

}



.Texto{
   text-align: center;
   border: 2px solid #b0c364;
   width: 80%;
   padding: 10px;
}

div.Texto p{
    font-size: 10px;
}

div.Texto h2{
    font-size: 20px;
}


#Hamburguesas img{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    position: absolute;
}

#Ensalada img{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    position: absolute;
}

#Pasta img{
    width: 300px;
    height: 300px;
    position: absolute;
}

